<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>

<h2>User info</h2>
<br>
<table border="1" style="width:300px">
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>email</th>
        <th>age</th>
    </tr>

    <tr>
        <td><p th:text="${user.getId()}">ID</p></td>
        <td><p th:text="${user.getName()}">ID</p></td>
        <td><p th:text="${user.getSurname()}">ID</p></td>
        <td><p th:text="${user.getEmail()}">ID</p></td>
        <td><p th:text="${user.getAge()}">ID</p></td>
    </tr>
    </div>

</table>

<a th:href="@{/users/{id}/edit(id=${user.getId()})}">Edit</a>
<form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>


</body>
</html>