<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
<head>
</head>
<body>
<div th:fragment="footer">
    <div class="container">
        <footer>
            <!-- FOOTER -->
            <!-- Благодаря дополнительной библиотеке которую мы опционально подключали в pom мы моежм использовать
            вспомогательные теги и без особых трудностей выводить имя пользователя на странице
            ВАЖНО! Старайтесь писать на английском, даже если не имеете подобного опыта(переводчик),
            это сэкономит вам нервы(проблемы с кодировками, фильтры) и даст бесценный опыт в будущем -->

            <input type="button" value="Logout" onClick='location.href="/logout"'>

        </footer>
    </div>

</div>
</body>
</html>