<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>
<body>

<h2>All users:</h2>

<br>

<table border="1" style="width:300px">
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>email</th>
        <th>age</th>
        <th>operations</th>
    </tr>
    <div th:each="user:${users}">
        <tr>
            <td><a th:href="@{/admin/users/{id}(id=${user.getId()})}" th:text="${user.getId()}">users</a></td>
            <td><a th:href="@{/admin/users/{id}(id=${user.getId()})}" th:text="${user.getName()}">users</a></td>
            <td><a th:href="@{/admin/users/{id}(id=${user.getId()})}" th:text="${user.getSurname()}">users</a></td>
            <td><a th:href="@{/admin/users/{id}(id=${user.getId()})}" th:text="${user.getEmail()}">users</a></td>
            <td><a th:href="@{/admin/users/{id}(id=${user.getId()})}" th:text="${user.getAge()}">users</a></td>
            <td>


                <a th:href="@{/admin/users/{id}/edit(id=${user.getId()})}">Edit</a>
                <form th:method="DELETE" th:action="@{/admin/users/{id}(id=${user.getId()})}">
                    <input type="submit" value="Delete"/>
                </form>

            </td>
        </tr>
    </div>
</table>

<br>

<input type="button" value="Create new user" onClick='location.href="/admin/new"'>

<br>

<input type="button" value="Logout" onClick='location.href="/logout"'>

</body>
</html>